@import "../scss/bootstrap-reboot";
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/badge";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/carousel";

@font-face {
  font-family: 'icomoon';
 
 src:  url('../../font/icomoon.eot?1cmi1b');

  src:  url('../../font/icomoon.eot?1cmi1b#iefix')
 format('embedded-opentype'), url('../../font/icomoon.ttf?1cmi1b') format('truetype'), url('../../font/icomoon.woff?1cmi1b') format('woff'), url('../../font/icomoon.svg?1cmi1b#icomoon') format('svg');
 
 font-weight: normal;
  font-style: normal;

  font-display: block;
}

[class^="icon-"],[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
 
 font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  
-moz-osx-font-smoothing: grayscale;
}


.icon-instagram-logo:before {
  content: "\e900";
}

.icon-facebook-logo:before {
  content: "\e901";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

}

.icon-dribbble-logo:before {
  content: "\e902";
}

.icon-behance:before {
  content: "\e903";
}

.icon-down:before {
  content: "\e904";
}

.icon-dribbble:before {
  content: "\e905";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.icon-facebook:before {
  content: "\e906";
}

.icon-forrst:before {
  content: "\e907";
}

.icon-google:before {
  content: "\e908";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.icon-twitter-black-shape:before {
  content: "\e909";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}



$green: #0eb493;
@mixin title-line{
	padding-top: 67px;
	color: $green;
	padding-bottom: 60px;
		h2{
			position: relative;
			text-transform: uppercase;
			font-size: 28px; 
			font-weight: 800;
			&:before{
				content: '';
    			position: absolute;
			    width: 230px;
			    height: 1px;
			    background: #dce1e5;
			    bottom: -36px;
			    left: calc(50% - 115px);
			}//&:before
			&:after{
				content: '';
			    position: absolute;
			    background: #f4f7f9 url(../../img/ico-heart.png) no-repeat 50% 0;
			    width: 50px;
			    height: 15px;
			    left: calc(50% - 25px);
			    bottom: -43px;
			}//&:after

		}//h2
	}//title-line

body{
	font: 400 13px/15px 'Open Sans', sans-serif;
	
}
a{
	display: block;
	text-decoration: none;
}
a:hover{
    text-decoration: none;	
}

.bd-example{
	padding: 0;
	height: auto;
	/*background: url(../../img/header-bg.png);
	background-size: cover;*/
	position: relative;

  }
 
	.carousel-caption{
		line-height: 68px;
		h5{
			font-size: 62px;
			font-weight: 300;
			span{
				display: inline-block;
				font-weight: 600;
			}//span
		}//h5
		strong{
			font-size: 48px;
			font-weight: 300;
			span{
				display: inline-block;
				color: #0edc94;
			}//span
		}//strong
		p{
			font-size: 18px;
		}
		.line{
			
			font-size: 18px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				width: 29px;
				height: 1px;
				background: #0edc94;
				bottom: 50px;
				right: 150px;
			}//&:before
			&:after{
				content: "";
				position: absolute;
				width: 29px;
				height: 1px;
				background: #0edc94;
				bottom: 50px;
				left: 150px;
			}//&:before
		}//line

	}//carousel-caption


	.soc-align{
		position: relative;
	}

	.socials{
		position: absolute;
		bottom: 8%;
		left: calc(50% - 95px);
		z-index: 99;
		@media screen and (max-width: 1600px){
			bottom: calc(15% + 50px);;
		}
			@media screen and (max-width: 1400px){
			bottom: calc(25% + 50px);
		} 
			@media screen and (max-width: 1200px){
			bottom: calc(35% + 50px);
		} 
			@media screen and (max-width: 1050px){
			bottom: calc(45% + 50px);
		}
			@media screen and (max-width: 850px){
			bottom: calc(50% + 50px);
		} 
			@media screen and (max-width: 750px){
			display: none;
		} 

	}

	.socials span{
    display: block;
    width: 32px;
    height: 32px;
    position: relative; 
    font-size: 18px;

}

    .socials li {
    	list-style-type: none;
    	display: inline-block;
    	font-size: 18px;
    	color: #fff;
    	opacity: .2;
    			&:hover{
    		opacity: 1;
    	}

    	a{
    		position: absolute;
            width: 32px;
            height: 32px;
             left:0;

    	}
    }

	.header-top-wrapper{
		background: rgba(5,12,28, 0.2);
		/*margin-top: -1200px;*/
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		z-index: 99;

		   .tag-line{
                padding-left: 26px;
			    border-left: 1px solid #154458;
			    font-weight: 300;
			     color: #546365 /*rgba(40,59,62, 0.9)*/;
			    	font-size: 13px;
			    	height-line: 15px; 
			    	align-items: center;
			}//tag-line-wrapper

        .logo-wrapper{
        	padding-right: 26px;

			.logo{
				background: url(../../img/logo.png) no-repeat;
				height: 30px;
				width: 90px;	
            }//.logo
        }// .logo-wrapper
    }//.header-top-wrapper


.navbar{
padding: 0;
}
 .navbar-nav{
 	padding-bottom: 15px;
 	li{
 		padding-left: 19px;
 		align-items: center !important;

 		&:hover{
 			@media screen and (max-width: 800px){
 				background: rgba(26,183,152, 0.2);

 				border-radius: 10px;
 				vertical-align: center;
 			}
 		}//&:hover

 		a{
 			color: #fff;
 			padding-top: 35px;
 			border-top: 1px solid transparent;
 			display: inline-block;
 			font-size: 13px;
 			&:hover{
 				border-top: 1px solid #32b0ee;
 				@media screen and (max-width: 800px){
 					border-top: 1px solid transparent;
 			}
 		}
 	}//a
 }//li
}
 .gb-menu{
 	background: rgba(26,183,152, 0.2);
 	
 }
 .gb-align{
 	display: block;
 	position: relative;
 	width: 30px;
 	height: 2px;
 	background: #fff;
 	margin-top: 14px;
 	 &:before{
 	 	content: "";
 	 	position: absolute;
 	 	display: block;
 	 	width: 30px;
 	    height: 2px;
 	    background: #fff;
 	    top: 10px;
 	 }//&:before
 	 &:after{
 	 	content: "";
 	 	position: absolute;
 	 	display: block;
 	 	width: 30px;
 	    height: 2px;
 	    background: #fff;
 	    top: -10px;
 	 }//&:after

 }//gb-align


 .features-wrapper{
 	padding-top: 10px;
 	background: #f4f7f9;
 	.mt37{
 		margin-top: 37px;
 		padding-bottom: 34px;
 	
 	h5{
 		font-size: 20px;
 		font-weight: 600;
 		margin-bottom: 26px;
 	}
 	p{
 		color: #4d606e;
 		line-height: 22px;
 	}

 	}//.mt37
 }//features-wrapper
  	.slid{
 		padding-top: 55px;
 		li{
 			list-style-type: none;
    	    display: inline-block;
    	    width: 8px;
    	    height: 8px;
    	    border-radius: 50%;
    	    border: 1px solid rgba(6,32,51, 0.5);
    	    &:first-child{
    	    	background: #062033;
    	    }
 		}

 	}

 .ico-brend{
 	display: block;
    background: url('../../img/sprite.png') no-repeat -10px -11px;
	width: 14px;
	height: 20px;
	padding: 20px;
	border-radius: 50%;
 	border: 1px solid $green;

 }
 .ico-devel{
 	display: block;
    background: url('../../img/sprite.png') no-repeat -54px -12px;
	width: 14px;
	height: 20px;
	padding: 20px;
	border-radius: 50%;
 	border: 1px solid $green;

 }
 .ico-consult{
 	display: block;
    background: url('../../img/sprite.png') no-repeat -108px -15px;
	width: 14px;
	height: 20px;
	padding: 20px;
	border-radius: 50%;
 	border: 1px solid $green;

 }




.title-line{
		@include title-line;
	}




.works-wrapper{
	background: #fff;
	h2:after{
		background: #fff url(../../img/ico-heart.png) no-repeat 50% 0;
	}
}
.works{
	padding-top: 33px;
	p{
		padding-top: 10px;
		margin-bottom: 43px;
		font-size: 18px;
		font-weight: 600;
		line-height: 25px;
		color: #384d5c;
	}//p

	
	 a{
			color: #062033;
			margin-bottom: 30px;
			font-size: 18px;
			font-weight: 700;
		&:hover{
			background: #0eb493;
			border-radius: 7px;
			color: #fff;	
	}//&:hover
}//a
		
}//works

.img-box{
	max-width: 1600px;
	background: #fff;

.rb{
	position: relative;
	&:hover .bg-hover{
		display: flex !important;
	}

		img{
		width: 400px;
    }//img

}//rb
	
	
}//.img-box

.bg-hover{
	display: none !important;
	position: absolute;
	top:0;
	left:0;
	color: #fff;
	width: 400px;
	height: 300px;
	background: rgba(35,184,153, 0.9);
	.sprite-img-hv{
		display: block;
		background: url('../../img/sprite.png') no-repeat -6px -81px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-bottom: 30px;
	}

	 strong{
	 	font-size: 18px;
	 	font-weight: 700;
	 	margin-bottom: 11px;
	 }
	 p{
	 	font-size: 14px;
	 }
	
}//.bg-hover 

.team{
	background: #fff;
	padding:34px 0 100px 0;
	h2:after{
		background: #fff url("../../img/ico-heart.png") no-repeat 50% 0;
	}//h2:after
	.team-p{
		font-size: 18px;
		font-weight: 600px;
		color: #384d5c;
		line-height: 25px;
		padding-bottom: 90px;
	}
	span{
		display: block;
	img{
		padding-bottom: 21px;
		margin-left: auto;
		margin-right: auto;
	}
}
	h5{
		font-size: 18px;
		font-weight: 600px;
	}
	h6{
		font-size: 13px;
		color: #959a9f;
	}
}//.team
.sf {
	display: block;
	position: relative;
	padding-left: 0;
	padding-bottom: 20px;
	&:hover .cart-bg{
		display: flex !important;
		}
	&:hover h5{
		color: #0eb493;
	}	
}//.sf

.cart-bg{
	display: none;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	color: #fff;
	width: 270px;
	height: 300px;
	background: rgba(35,184,153, 0.9);
	.card-body{
		height: 300px;
		padding: 25px 15px 24px 15px;
		
	h5{
		font-size: 16px;
		font-weight: 700px;
		line-height: 23px;
		color: #fff;
	}
	p{
		font-size: 16px;
		color: #fff;
		padding-bottom: 54px;
		line-height: 23px;
	}
	.card-socials{
		padding-left: 47px;
		padding-right: 47px;
		
    	li {
    		list-style-type: none;
    		font-size: 20px;
    		background: rgba(13,124,102, 0.8); 
    		color: #fff;
    		width: 43px;
    		height: 43px;
    		position: relative;
    		
    		margin-bottom: 24px !important;
    	
    			a{
    				position: absolute;
            		width: 32px;
            		height: 32px;
             		left:0;

    	}//a

		
	}//li
}//.card-socials
}//.cart-body
}//.card-bg



.facts-wrapper{
	padding: 0;
	height: 600px;
	background-image: url(../../img/bg-fact.jpg);
	background-size: cover;
	.facts-bg-wrapper{
		padding-top: 35px;
        height: 600px;
	    background: rgba(11,32,49, 0.8); 
	    background-size: cover;
	    h2:after{
		background: #122436 url(../../img/ico-heart1.png) no-repeat 50% 0;
	}
	}
}
.facts{
	color: #fff;
	.ico-watch{
		display: block;
		width: 130px;
		height: 130px;
		border-radius: 50%;
		border: 2px solid rgba(117,127,136, 0.8);
		background: url('../../img/sprite.png') no-repeat -366px 32px;
		 }
	.ico-piple{
		display: block;
		width: 130px;
		height: 130px;
		border-radius: 50%;
		border: 2px solid rgba(117,127,136, 0.8);
		background: url('../../img/sprite.png') no-repeat -320px -80px;
		 }
	.ico-rocket{
		display: block;
		width: 130px;
		height: 130px;
		border-radius: 50%;
		border: 2px solid rgba(117,127,136, 0.8);
		background: url('../../img/sprite.png') no-repeat -203px 32px;
		 }
	.ico-cup{
		display: block;
		width: 130px;
		height: 130px;
		border-radius: 50%;
		border: 2px solid rgba(117,127,136, 0.8);
		background: url('../../img/sprite.png') no-repeat -188px -185px;
		 }		 	 

}




.discuss{
	h2:after{
		background: #fff url(../../img/ico-heart.png) no-repeat 50% 0;
	}

}
.form-group{
	
	margin: 0 !important;
	padding: 0;
	.ri{
		width: 375px;
		border-top: none;
		border-left: none;
		border-right: none;

	
		&:first-child{
			margin-right: 30px;
		}
	}
}
.rt{
   width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
}

.button{
	border: none;
	background: #fff;
	float: right;
}
.map-wrapper
{
	height: 216px;
	background: url(../../img/map-bg.png);
	background-size: cover;
	border-bottom: 5px solid #062033;

}
.footer-wrapper{
	background-color: #1ea78d;
	color: #fff;
	.logo{
        display: block;
		background: url(../../img/logo.png) no-repeat;
		height: 30px;
		width: 90px;	
         }//.logo
	
}//footer-wrapper
.carousel-indicators{
	width: 100%;
    position: absolute;
    top: 0 !important;
    right: 15px !important;
   
    z-index: 15;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    
    margin-right: 0;
    margin-left: 0;
    list-style: none;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    
    margin-right: 30px;
    margin-left: auto;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    margin-bottom: 5px;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
    border: 1px solid #fff;
    background: rgba(0,0,0, 0);
 
    }
 .carousel-indicators li.active{
    	background: rgba(255,255,255, 1);
    }

    .carousel-caption{
    	bottom: 160px;
    		@media screen and (max-width: 1050px){
			bottom: 90px;
		} 
		   	@media screen and (max-width: 900px){
			bottom: 35px;
		} 
		  	@media screen and (max-width: 850px){
			bottom: 15px;
		} 
    }
/*.cont-main-text{
	
.main-text{
	position: absolute;
	bottom: 60px;
	left: calc(50% - 312px);
	width: 625px;
	color: #fff;
	
	h1{	
	}
	strong{
		font: normal 300 14px 'Open Sans', sans-serif;	
		display: block;
	}//strong
}//main-text
}//cont-main-text*/